@import "stylesheet1";
@import "stylesheet2";

.body {
  overflow: hidden;
}

a {
  text-decoration: none;
  &:link, &:visited, &:active, &:hover {
    text-decoration: none;
  }
}

.header li.active a {
  color: #008800;
}

.home, .contact {
  background-color: #def7df;
  padding: 1px 20px 5px 20px;
  min-height: 260px;
  text-align: justify;
}

.footer {
  padding: 10px 0px 10px 20px;
}

.view-container {
  position: relative;
}

.slide {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  &.ng-enter, &.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  &.ng-enter {
    transform: translateX(100%);
  }
  &.ng-enter-active, &.ng-leave {
    transform: translateX(0); 
  }
  &.ng-leave-active {
    transform: translateX(-100vw); position: absolute; margin-left: -20px;
  }
}
